/* @media screen and (min-width: 768px){

.modal{
    width: 609px;
    /* height: 1058px; * /

    padding: 48px;
    } 

.buye-option-container{
    width: 513px;
    margin-left: 48px;
    margin-right: 48px;
}

.form-field-name{
    display: flex;

}

.form-input{
    width: 100%;
    height: 45px;
    padding: 22px 24px;
    border: solid 1px rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

} */