@media screen and (min-width: 320px){
    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        
        background-color: #FAFAFA;
        border-radius: 15px;
        
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms linear, 100ms;

    
        width: 311px;
        height: 471px;
        padding: 32px 24px;
    }

    .modal-title{
        width: 255px;
        margin-bottom: 32px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: -0.03em;
        text-transform: uppercase;

        color: #111111;
    }

    .modal-close {
        top: 14px;
        right: 14px;
              
        height: 24px;
        width: 24px;
    }
    
    .modal-form{
        height: 268px;
    }

    .form-group:not(:last-child){
       margin-bottom: 14px; 
    }

    .form-input{
        font-size: 14px;
        line-height: calc(17/14);

        width: 263px;
        height: calc(45-28);
        padding: 14px 18px;
    }

    .phone-input{
         width: 300px;
    }

    .text-input{
        width: 263px;
        height: 91px;
        padding: 14px 18px;
        margin-bottom: 18px;
    }
}