@media screen and (min-width: 768px){

    .modal{
        position: absolute; 
        top: 50%;
        left: 50%;
        
        background-color: #FAFAFA;
        border-radius: 15px;
        
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms linear, 100ms;

        width: auto;
        height: 40%;
        padding: 40px;
    }
    

    .modal-title{
        width: 298px;
        margin-bottom: 40px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: calc(28/24);
    }

    .modal-close {
        top: 24px;
        right: 24px;
              
        height: 28px;
        width: 28px;
    }

    .modal-form{
        height: 392px;
    }

    .form-group:not(:last-child){
        margin-bottom: 19px; 
     }

     .form-input{
        font-size: 18px;
        line-height: calc(22/18);

        width: 437px;
        height: calc(66-44);
        padding: 14px 18px;
    }

    .phone-input{
        width: 472px;
   }

   .text-input{
    width: 437px;
    height: 137px;
    padding: 22px 24px;
    margin-bottom: 18px;
    }
}